* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*background: #34abfa;*/
    background: transparent;
}

.Titlebar {
    width: 100%;
    height: 34px;
    -webkit-app-region: drag;
    display: none;
}



webview {
    width: 100%;
    height: 100%;
    display: block;
}

.options {
    color: white;
    /*height: 50%;*/
    height: 0;
    max-height: 50%;
    /*max-height: 1em;*/
    width: 100%;
    /*max-width: 320px;*/
    position: absolute;
    bottom: 0;
    backggit round: #2f2f2f;
    /*background: #2A94D6;*/
    opacity: .9;
    visibility: hidden;

    /*opacity:0;*/
    /*transition:visibility 0s linear 0.5s,opacity 0.5s linear;*/

    transition: height 0.2s ease-out;
    /*transition: visibility 0.2s ease-out;*/
}

.options.is-visible {
    visibility: visible;
    /*max-height: 20em;*/
    /*opacity: 1;*/
    /*height: auto;*/
    height: 50%;

    transition-delay:0s;
}

.options-container {
    max-width: 320px;
    width: 100%;

    margin: auto;
}

.option {
    display: inline-block;
    height: 44px;
    font-size: 24px;
    margin: 20px;
    max-width: 80px;
    cursor: pointer;
    /*padding: 4px;*/
}

.option.is-active {
    /*color: white;*/
    color: #2A94D6;
}

.option:hover {
    color: #8199af;
}

.option.is-active:hover {
    color: #2A94D6;
}

#iphone-5s-button {
    font-size: 20px;
}

#iphone-6-button {
    font-size: 22px;
}

#iphone-6-plus-button {
    font-size: 26px;
}

#ipad-button {
    font-size: 32px;
}

#close-window-button:hover {
    color: #CF5C60;
}


.wrapper {
    height: 100%;
    -webkit-app-region: drag;
}

.iphone {
    background: #202020;
    width: 100%;
    height: 100%;
    border-radius: 3em;
}

.screen {
    background: #2f2f2f;
    width: 90%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 5%;
    animation: lighten 5s infinite alternate;
    -webkit-app-region: no-drag;
}

.button {
    position: absolute;
    bottom: 2.75%;
    left: 42.5%;
    background: #3f3f3f;
    border: 1px solid #3f3f3f;
    width: 15%;
    height: 0;
    padding-top: 15%;
    border-radius: 50%;
    cursor: pointer;
}

.button.is-active {
    background: #2A94D6;
    /*opacity: .9;*/
}

.square {
    position: absolute;
    top: 27.5%;
    left: 27.5%;
    border: 2px solid #d7d7d7;
    border-radius: .3em;
    width: 45%;
    height: 45%;
}

@media screen and (min-width: 28em ) {
    body{ font-size: 8px; }
}

@media screen and (min-width: 34em ) {
    body{ font-size: 10px; }
}

@media screen and (min-width: 48em ) {
    body{ font-size: 14px; }
}

@keyframes lighten {
    0%, 45% { background: #2f2f2f; }
    65%, 100% { background: #f7f7f7; }
}

@keyframes unhide {
    0%, 55% { opacity: 0 }
    75%, 100% { opacity: 1 }
}