
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-mobile-1:before { content: '\e801'; } /* '' */
.icon-mobile-2:before { content: '\e802'; } /* '' */
.icon-tablet:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-popup:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-minus-1:before { content: '\e807'; } /* '' */
.icon-cancel-1:before { content: '\e808'; } /* '' */
.icon-popup-1:before { content: '\e809'; } /* '' */
.icon-cancel-2:before { content: '\e80a'; } /* '' */
.icon-coverflow:before { content: '\e80b'; } /* '' */
.icon-coverflow-empty:before { content: '\e80c'; } /* '' */
.icon-arrows-ccw:before { content: '\e80d'; } /* '' */